.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
template.example.hbs
commitlint.config.js
.prettierignore
.github/
node_modules
out/
tsconfig.json
webpack.config.js